.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: #f0f0f0;
}
.card {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  color: black;
  border-radius: 12px;
  padding: 2rem;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: start;
  text-align: center;
  position: relative;
}
.letreto {
  float: right; /* Alinea a la derecha utilizando float */
  background-color: #9ED2Be;
  padding: 8px;
  color: #fff;
  font-weight: 700;
  border-radius: 4px;
  display: flex;
  align-items: right;
}

.input{
  width: 100%;
  border-radius: 4px;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0,0.3);
  height: 30px;
}

.centerLink{
  display: flex;
  width: 100%;
}
.form{
  width: 100%;
  display: flex;
  flex-direction: column;
  gap : 8px;
  align-items: start;
}
.href{
  align-self: flex-end;
  color: #9ED2Be;
  font-size: small;
  padding-top: 5px;
}
.href2{
  align-self: center;
  color: #9ED2Be;
  font-size: small;
  padding-top: 5px;
}