.back{
  background-color: #9ED2Be; /* Color de fondo del botón */
  color: #fff; /* Color del texto del botón */
  border: none; /* Elimina el borde del botón */
  border-radius: 50px; /* Agrega bordes redondeados */
  cursor: pointer; /* Cambia el cursor al pasar el ratón */
  width: 50px;
  height: 50px;
}
.back-img{
  width: 23px;
  height: 33px;
  border: none; /* Elimina el borde del botón */
  filter: invert(100%) sepia(100%) saturate(2%) hue-rotate(257deg) brightness(104%) contrast(101%);
  background-color: transparent;
}
.header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 124px; 
  
}
.letreto2{
  background-color: #9ED2Be;
  padding: 8px;
  color: #fff;
  font-weight: 700;
  border-radius: 4px;
}