ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #ffff;
    border-color: #111;
    width: 100%;
    position: fixed;
    top: 0;
  }

  li {
    float: left;
  }

  li a {
    display: block;
    color: #9ED2Be;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  li a:hover {
    background-color: #111;
  }
  .button {
    background-color: #9ED2Be;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin: 10px;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
  }

  .navbar {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .right {
    display: flex;
    align-items: right;
  }